* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*  BORDES DE TODO */
  /*     outline: 2px solid lime;   */
  /* #### FONDO SATURADO #### */
  /* background: hsl(0, 100%, 50% / .1); */
  /*  background: hsl(0, 100%, calc(50% / 10)); */
  /**/
  /* background: rgba(255, 0, 0, 0.1); // Rojo con 10% de opacidad */
  /* background: hsl(0, 100%, 5%);  // 50% / 10 = 5% */
}

html {
  scroll-behavior: smooth;
}

ul, ol {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

p a {
  display: inline;
}

img, video, iframe, picture, figure {
  display: block;
  max-width: 100%;
}

form, input, select, textarea, button, label {
  display: block;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
}

@font-face {
  font-family: "kumbh";
  src: url("../fonts/KumbhSans-VariableFont_YOPQ,wght.woff2");
  font-weight: 100 900;
}
@font-face {
  font-family: "kumbhttf";
  src: url("../fonts/KumbhSans-VariableFont_YOPQ,wght.ttf");
  font-weight: 100 900;
}
body {
  min-block-size: 100vb;
  /* min-height: 100vh; */
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  font-family: kumbh;
}

.wrappers__headers {
  inline-size: min(20.438rem, 100%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-start: 1.25rem;
  margin-block-end: 1.5rem;
  position: relative;
}

.headers__menu-open {
  inline-size: min(10.594rem, 100%);
  display: flex;
  align-items: end;
  gap: 1rem;
}

.button__head-open {
  width: 1rem;
}

.wrappers__nav {
  position: absolute;
  inset-block-start: -1.5rem;
  inset-inline-start: -1.5rem;
  background-color: #ffffff;
  display: grid;
  grid-template-rows: 1.75rem 1fr;
  gap: 3.5rem;
  inline-size: 15.625rem;
  block-size: 100vb;
  padding: 1.5rem;
  z-index: 100;
}

.list__item {
  background-color: transparent;
}

.button__head-close {
  inline-size: min(3rem, 100%);
}

.wrappers__nav--bg {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 11;
  transition: opacity 0.7s ease-in-out;
}

.wrappers__nav--bg,
.wrappers__nav {
  opacity: 0;
  translate: -35vh 0;
  transition-property: display opacity;
  transition-duration: 1s;
  transition-behavior: allow-discrete;
}
.wrappers__nav--bg:where(:not(.display__none)),
.wrappers__nav:where(:not(.display__none)) {
  display: allow-discrete flex;
  opacity: 1;
  translate: 0 0;
}
@starting-style {
  .wrappers__nav--bg:where(:not(.display__none)),
  .wrappers__nav:where(:not(.display__none)) {
    opacity: 0;
    translate: -35vh 0;
  }
}

.nav__menu {
  inline-size: min(6.5rem, 100%);
  font-family: kumbh, kumbhttf, sans-serif;
  font-size: 1.125rem;
  font-weight: 900;
  line-height: 1;
  display: grid;
  grid-template-rows: repeat(auto-fit, 1.625rem);
  gap: 1.5rem;
}

.button__menu {
  width: 16px;
  height: 15px;
}

.avatar__image {
  width: 1.5rem;
  height: 1.5rem;
}

.wrappers__avatar {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.cart__avatar {
  position: relative;
}

.cart__number {
  position: absolute;
  inset-block-start: -7px;
  inset-inline-end: -6px;
  font-family: kumbh, kumbhttf, sans-serif;
  font-size: 0.625rem;
  font-weight: 700;
  line-height: 1.4;
  color: #ffffff;
  background-color: #ff7e1b;
  border-radius: 0.43rem;
  padding: 0 0.42rem;
}

.cart__box {
  position: absolute;
  block-size: 16rem;
  inline-size: clamp(16.5rem, 95vw, 22.5rem);
  inset-block-start: 3.5rem;
  inset-inline-end: -4%;
  margin-inline: auto;
  background-color: #ffffff;
  border-radius: 0.5rem;
  z-index: 100;
  display: grid;
  gap: 1.5rem;
  padding-block: 1.5rem;
}

.cart__title {
  font-family: kumbh, kumbhttf, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #1d2026;
  padding-inline: 0.75rem;
}

.cart__items {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-inline: 1.5rem;
}

.items__images {
  inline-size: 3.125rem;
  block-size: 3.125rem;
  border-radius: 0.25rem;
}

.items__product {
  font-family: kumbh, kumbhttf, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: #69707d;
}

.items__numbers {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.items__total {
  font-weight: 700;
  color: #1d2026;
}

.button__checkout {
  font-family: kumbh, kumbhttf, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  background-color: #ff7e1b;
  color: #1d2026;
  border-radius: 0.5rem;
  padding-block: 0.5rem;
  margin-inline: 1.5rem;
}

.wrappers__products {
  position: relative;
}

.wrappers__images {
  block-size: 18.75rem;
}

.wrappers__images:target {
  display: block;
}

.images__sneakers {
  inline-size: 100%;
  block-size: 18.75rem;
  object-fit: cover;
}

.button__prev {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset-block-start: 8rem;
  background-color: #ffffff;
  border-radius: 90%;
  box-shadow: 0.4px 0.4px 2px rgba(0, 0, 0, 0.3), -0.4px -0.4px 3px rgba(0, 0, 0, 0.3);
  z-index: 10;
  inset-inline-start: 1rem;
}

.button__next {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset-block-start: 8rem;
  background-color: #ffffff;
  border-radius: 90%;
  box-shadow: 0.4px 0.4px 2px rgba(0, 0, 0, 0.3), -0.4px -0.4px 3px rgba(0, 0, 0, 0.3);
  z-index: 10;
  inset-inline-end: 1rem;
}

.wrappers__content {
  inline-size: min(20.438rem, 100%);
  display: grid;
  gap: 2rem;
  align-items: center;
  margin-block-start: 1.5rem;
  margin-inline: auto;
  margin-block-end: 2rem;
}

.content__heads {
  display: grid;
  gap: 1rem;
}

.content__subtitle {
  font-family: kumbh, kumbhttf, sans-serif;
  font-size: 0.75rem;
  font-weight: 700;
  color: #69707d;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.content__title {
  font-family: kumbh, kumbhttf, sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  color: #1d2026;
  line-height: 1.2;
}

.content__lead {
  font-family: kumbh, kumbhttf, sans-serif;
  font-size: 0.938rem;
  font-weight: 300;
  color: #69707d;
  line-height: 1.75;
}

.wrappers__price {
  display: grid;
  gap: 1rem;
}

.content__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price__number {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-family: kumbh, kumbhttf, sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  color: #1d2026;
  line-height: 1.2;
}

.number__desc {
  font-family: kumbh, kumbhttf, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  background-color: #000000;
  padding: 0.25rem 0.555rem;
  border-radius: 0.4rem;
  align-content: start;
}

.price__final {
  font-family: kumbh, kumbhttf, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: #69707d;
  text-decoration: line-through;
}

.content__numbers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.numbers__order {
  font-family: kumbh, kumbhttf, sans-serif;
  font-size: 1rem;
  font-weight: 700;
}

.button__add-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  inline-size: 100%;
  font-family: kumbh, kumbhttf, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  padding-block: 1rem;
  background-color: #ff7e1b;
  border-radius: 0.5rem;
}

.wrappers__thumbails {
  display: none;
}

.display__none {
  display: none !important;
  width: 0;
  height: 0;
}

@media (min-width: 42em) {
  .wrappers__headers {
    inline-size: min(38rem, 100%);
  }
  .headers__menu-open {
    inline-size: min(10.656rem, 100%);
  }
  .avatar__image {
    inline-size: 3.125rem;
    block-size: 3.125rem;
  }
  .wrappers__products {
    padding-block: 3rem;
    inline-size: min(38rem, 100%);
    margin-inline: auto;
  }
  .wrappers__images {
    inline-size: min(38rem, 100%);
    border-radius: 1rem;
  }
  .images__sneakers {
    border-radius: 1rem;
    object-position: 50% 65%;
  }
  .button__prev {
    inset-block-start: 11rem;
  }
  .button__next {
    inset-block-start: 11rem;
  }
  .wrappers__content {
    inline-size: min(38rem, 100%);
  }
  .content__subtitle {
    font-size: 0.813rem;
  }
  .content__title {
    font-size: 2.75rem;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  }
  .content__lead {
    font-size: 1rem;
  }
  .content__price {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
  .number__desc {
    margin-block-end: 0.5rem;
  }
  .content__orders {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    align-items: center;
  }
  .cart__box {
    /* inset-inline-start: 0%; */
    inset-inline-end: -10%;
    margin-inline: 0;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
  }
  .wrappers__nav {
    inline-size: min(15.813rem, 100%);
    padding: 3rem;
  }
}
@media (min-width: 85em) {
  .wrappers__headers {
    inline-size: min(69.375rem, 100%);
  }
  .wrappers__nav {
    inline-size: 24.75rem;
    block-size: min(2rem, 100%);
    inset-block-start: 0.813rem;
    inset-inline-start: 12.175rem;
    background-color: transparent;
    padding: 0;
    z-index: 100;
  }
  .nav__menu {
    inline-size: min(6.5rem, 100%);
    font-family: kumbh, kumbhttf, sans-serif;
    font-size: 0.938rem;
    font-weight: 300;
    color: #69707d;
    line-height: 1;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
  }
  .menu__list {
    position: relative;
  }
  .menu__list::before {
    opacity: 0;
    position: absolute;
    content: "";
    inset-block-start: 150%;
    inline-size: 100%;
    translate: -100% 0;
    block-size: 2px;
    background-color: #ff7e1b;
    transition: all 0.3s ease-in;
  }
  .menu__list:hover::before {
    opacity: 1;
    translate: 0;
  }
  .wrappers__sneakers {
    block-size: 100%;
    inline-size: min(63.813rem, 100%);
    display: grid;
    grid-template-columns: 28rem 27.813rem;
    align-items: center;
    justify-items: center;
    gap: 8rem;
    margin-block: 6rem;
    position: relative;
  }
  .wrappers__lightbox {
    display: grid;
    grid-template-rows: minmax(27.813rem, 1fr) 5.5rem;
    justify-items: center;
    align-items: center;
    gap: 2.5rem;
  }
  .wrappers__lightbox--active {
    position: absolute;
    inset-block-start: 10%;
    display: grid;
    grid-template-rows: 2rem minmax(34.375rem, 1fr) 5.5rem;
    justify-items: center;
    align-items: center;
    gap: 1.5rem;
    margin-inline: auto;
    z-index: 200;
  }
  .wrappers__products--active {
    block-size: 34.375rem;
    margin-block-end: 1rem;
  }
  .wrappers__sneakers--active {
    inline-size: 34.375rem;
    block-size: 34.375rem;
  }
  .button__products--active {
    inline-size: 100%;
    block-size: 1.5rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    background-color: transparent;
    color: #ffffff;
    z-index: 290;
  }
  .images__sneakers--active {
    inline-size: 34.375rem;
    block-size: 34.375rem;
    border-radius: 1rem;
    object-position: 0 0;
  }
  .wrappers__products {
    margin: 0;
    padding: 0;
  }
  .wrappers__images {
    block-size: 27.813rem;
  }
  .images__sneakers {
    block-size: 27.813rem;
  }
  .button__prev--active {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset-block-start: 45%;
    background-color: #ffffff;
    border-radius: 90%;
    box-shadow: 0.4px 0.4px 2px rgba(0, 0, 0, 0.3), -0.4px -0.4px 3px rgba(0, 0, 0, 0.3);
    z-index: 10;
    inset-inline-start: -3.5%;
  }
  .button__next--active {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    inset-block-start: 45%;
    background-color: #ffffff;
    border-radius: 90%;
    box-shadow: 0.4px 0.4px 2px rgba(0, 0, 0, 0.3), -0.4px -0.4px 3px rgba(0, 0, 0, 0.3);
    z-index: 10;
    inset-inline-end: -3.5%;
  }
  .wrappers__thumbails {
    display: grid;
    grid-template-columns: repeat(4, minmax(5.5rem, 1fr));
    gap: 2rem;
  }
  .thumbails__items {
    position: relative;
    border-radius: 0.625rem;
    outline: 0.016rem solid #ff7e1b;
    outline-offset: -0.013rem;
    transition: all 0.5 ease;
    overflow: hidden;
  }
  .thumbails__images {
    inline-size: 5.5rem;
    block-size: 5.5rem;
    border-radius: 0.5rem;
    object-fit: contain;
  }
  .thumbails__items::before {
    opacity: 0;
    content: "";
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    inline-size: 100%;
    block-size: 100%;
    background: rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease;
  }
  .thumbails__items:hover::before {
    opacity: 1;
    cursor: pointer;
  }
  .content__orders {
    grid-template-columns: 1fr 1.5fr;
    gap: 1rem;
  }
  .content__numbers {
    padding-inline: 0.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
